---
import { Container, Button, Direction } from "@/components";
import styles from "./About.module.css";
import type { HTMLAttributes } from "astro/types";
import { extendsClassName } from "@/utils/client";

export interface Props extends HTMLAttributes<"div"> {}

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const arg = Astro.props;
const attr = { ...arg, class: extendsClassName(arg.class ?? undefined, styles.about) };
---

<div {...attr}>
  <Container className={styles.about_me}>
    <h1 class={styles.title}>Jose Sebastian</h1>
    <h3>Web Developer</h3>
    <div class={styles.about_text}>
      <p>
        As a software engineer student with a passion for programming since a
        young age, I have gained in-depth knowledge of various technologies,
        including NodeJS, Java, Spring, Express, SQL, Angular, Docker, Git, and
        much more. I have worked on several personal projects that have allowed
        me to develop my skills and apply my knowledge as a software engineer. I
        am eager to use my expertise in developing innovative solutions and
        contributing to the growth of the world.
      </p>
    </div>
    <div class={styles.btn_cont}>
      <Button
        direction={Direction.LEFT}
        actived={currentPath === "education"}
        href="/education">Education</Button
      >
      <Button
        direction={Direction.CENTER}
        actived={currentPath === "projects"}
        href="/proyects">Projects</Button
      >
      <Button
        direction={Direction.CENTER}
        actived={currentPath === "experience"}
        href="/experience">Experience</Button
      >
      <Button
        direction={Direction.RIGHT}
        actived={currentPath === "contact"}
        href="/contact">Contact</Button
      >
    </div>
  </Container>
  <slot />
</div>
